@{
  Layout = "_Layout";
}

@using System.Security.Claims;
@using PierresBakery.Models;
@model IEnumerable<PierresBakery.Models.Treat>

@if (User.Identity.IsAuthenticated)
{
  <h2>Your Logged In</h2>
<hr />
  <p>Hey @User.Identity.Name!</p>
<hr />

    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-danger btn-xs" value="Log out" />
    } 

  @if (Model.Any())
  {
    <ul>
      @foreach (Treat treat in Model)
      {
        <li>Treat Name : @Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
        @using (Html.BeginForm("Return", "Checkouts"))
        {
          @Html.Hidden("treatId", @treat.TreatId)
          @Html.Hidden("treatName", @treat.TreatName)
          <input type="submit" value="Return" />
        }
      }
    </ul>
  }
  else
  {
  <h3>No treats selected!</h3>
  }
}

    
<p>@Html.ActionLink("Back to Homepage", "Index", "Home")</p>